<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
  />
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    rel="stylesheet"
  />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="/styles/flash.css" />


</head>
<body>
    

<div class="container">
    <h2>Edit Flashcard</h2>
    <form action="/flashcard/edit/<%= flashcard._id %>" method="POST">
        <label for="question">Question:</label>
        <textarea id="question" name="question" rows="2"><%= flashcard.question %></textarea>
        <label for="answer">Answer:</label>
        <textarea id="answer" name="answer" rows="4"><%= flashcard.answer %></textarea>
        <div class="buttons">
        <button type="submit" class="design-btn">Update</button>
        <form action="/flashcards" method="GET">
            <button type="submit" class="design-btn del">Go back</button>
        </form>
        </div>
    </form>
</div>
</body>
</html>
