* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: #7A82B2;
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
}

.container h1 {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}

.container button img {
    width: 25px;
    margin: 5px;
}

.container .btn {
    display: flex;
    align-items: center;
    background: #444B73;
    color: #fff;
    font-size: 16px;
    outline: 0;
    border: #571094;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
}

.notes-container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

.note {
    background: white;
    color: #333;
    margin: 10px 0px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 5px;
    padding-right: 30px;
    position: relative;
    word-wrap: break-word;
    /* background-color: #45a049; */
}

.note-content {
    margin-bottom: 10px;
    /* background-color: #333; */
}

.editable-note {
    min-height: auto;
    background: #fff;
    border: none;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    /* background-color: aqua; */
}

.save-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.delete-btn img {
    width: 20px;
}

.container h1 img{
    /* background-color: green; */
    width: 60px
}

textarea[name="content"] {
    width: 80%;
    min-height: 100px;
}

.container .edit-btn {
    padding: 10px 20px;
    background: #444B73;
    border: #571094;
    border-radius: 40px;
    color:#fff;
    cursor: pointer;
}