@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
  }

body{
    font-family: 'Poppins';
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background-color: white;
    font-family: 'Poppins';
}

.container{
    display: grid;
    width: 96%;
    gap: 1.5rem;
    grid-template-columns: auto 14rem;
    margin: 0 auto;
}


main{
    margin-top: 1.4rem;
    width: auto;
    /* padding: 1.8rem; */
}

main .heading{
    font-size: 2.5rem;
}

main .subheading{
    font-size: 1rem;
    color: #677483;
    font-style: italic;
    font-weight: 500;
}

main .insights{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.6rem;
}

main .insights > div{
    background-color: #f6f6f9;
    padding: 1.8rem;
    border-radius: 2rem;
    margin-top: 1rem;
    box-shadow:  0 2rem 3rem rgba(132, 139, 200, 0.18);
    transition: all .3s ease;
    font-style: italic;
}

main .insights > div:hover{
    box-shadow: none;
}

main .insights > div span{
    
    padding: 0.5rem;
    border-radius: 50%;
    color: #363949;
    font-size: 2rem;
}

main .insights > div.first {
    background-color: #ffd7e8;
}

main .insights > div.second {
    background-color: #f2c0ff;
}

main .insights > div.third {
    background-color: #bf9fee;
}

main .insights > div.fourth {
    background-color: #866ec7;
}

main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights > div .middle h1{
    font-size: 1.45rem;
}

main h1{
    color: #363949;
}

main .insights h1 h3 p{
    color: #363949;
}

#todoForm h1, #resForm h1{
    cursor: pointer;
}