<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your To-Do List</title>
  <link rel="stylesheet" href="/styles/main.css">

</head>
<body>
  <div class="todo-container">
    
    <h1>Your To-Do List</h1>
  
    <form action="/todos" method="POST">
      <input type="text" name="task" class="todo-input" placeholder="Add a new task" required>
      <button type="submit" class="add-btn">Add Task</button>
       
    </form>



  
    <!-- <a href="/todos/new">Add New Task</a> |  -->
    <a href="/logout">Logout</a>
    <ul class="todo-list">
      <% todos.forEach(todo => { %>
        <li class="todo-li">
          <form action="/todos/<%= todo._id %>?_method=PUT" method="POST">
              <input type="checkbox" <%= todo.completed ? 'checked' : '' %> /> 
              <%= todo.task %>
              <button type="submit btn-todo">Update</button>
          </form>
            <form action="/todos/<%= todo._id %>?_method=DELETE" method="POST">
              <button type="submit btn-todo" class="delete-btn">Delete</button>
            </form>
        </li>
      <% }) %>
    </ul>
    </div>
  <script src="/js/script.js"></script>
</body>
